body {
  font-family: Roboto, sans-serif;
  color: #757575;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body .modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /*object-fit: cover;*/
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.17;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .header__container {
    min-height: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #2196f3;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.logo__accent {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__accent--reverse {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.site-nav__link {
  display: block;
  font-weight: 500;
  color: #212121;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: ocolor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: ocolor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.site-nav__link.site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
  .site-nav__link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover::after, .site-nav__link:focus::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.site-nav__item {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:last-child {
    margin-bottom: 302px;
  }
}

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.social-nav__link::after {
  position: absolute;
  left: -20px;
  bottom: 10px;
  content: '';
  display: block;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social-nav__item:not(:last-child) {
  margin-right: 20px;
}

.social-nav__item:nth-child(1) .social-nav__link::after {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    margin-top: auto;
    margin-left: 84px;
    margin-bottom: auto;
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list__item {
    margin-bottom: 32px;
  }
  .contacts-list__item:last-child {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
}

.contacts-list__link-mail {
  display: block;
  font-size: 34px;
  color: #2196f3;
  line-height: 1.18;
}

.contacts-list__link,
.contacts-list__link-mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus,
.contacts-list__link-mail:hover,
.contacts-list__link-mail:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-list__link,
  .contacts-list__link-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.14;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__link,
  .contacts-list__link-mail {
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts-list__link-tel,
.contacts-list__link-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .contacts-list__link-tel,
  .contacts-list__link-mail {
    margin-bottom: 64px;
  }
}

.contacts-list__link-tel {
  color: #2196f3;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .contacts-list__icon {
    display: none;
  }
}

.contacts-list__icon:hover, .contacts-list__icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__icon {
    margin-right: 8px;
  }
}

.hero {
  display: block;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header_img_1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header_img_1.jpg);
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header_img_2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header_img_2.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-tablet-1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tablet-1.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-tablet-2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tablet-2.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desktop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-desktop-2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desktop-2.jpg);
  }
}

.hero__title {
  display: block;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  /*margin-top: 30px;*/
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background: #188ce8;
}

/*.quality {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  width: calc((100% - 1 * 30px) / 2);
  .quality__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  width: 270px;

  .quality__item + .quality__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .quality__item + .quality__item {
    margin-bottom: 30px;
  }
}

.hidden-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.quality__title {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.quality__text {
  line-height: 1.71;
}

.quality__thumb {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}*/
/*.section-quality {
  position: relative;
}*/
.hidden-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .quality {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    /*padding-bottom: 53px;*/
  }
}

.quality__thumb {
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .quality__thumb {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .quality__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.quality__title {
  color: #212121;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .quality__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .quality__item {
    max-width: 354px;
    width: calc(100% - 60px)/2;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .quality__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .quality__text {
    margin-bottom: 30px;
    line-height: 1.71;
  }
}

.section--no-padding {
  padding-top: 0;
}

.section.section--no-padding {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section.section--no-padding {
    display: block;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
}

.works__item + .works__item {
  margin-left: 30px;
}

.works__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-decoration: none;
  background: rgba(47, 48, 58, 0.8);
}

.works__text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section--background {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 8 * 15px) / 4);
    margin-right: 15px;
  }
}

.team__card {
  padding: 30px 0;
}

.team__title {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
}

.socialnets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 30px;
}

.socialnets__item {
  margin-right: 10px;
}

.socialnets__item:last-child {
  margin-right: 0px;
}

.socialnets__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnets__link:hover, .socialnets__link:focus {
  background-color: #2196f3;
}

.socialnets__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnets__link:hover .socialnets__icon,
.socialnets__link:focus .socialnets__icon {
  fill: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .clients__item {
    margin: 15px;
    max-width: 210px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
    max-width: 226px;
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 15px;
    max-width: 170px;
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  padding: 16px 52px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .clients__link {
    padding: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 32px;
    max-width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer-container {
    text-align: center;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
  }
}

.contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-bottom: 0;
  }
}

.footer-logo {
  margin: 0 0 20px 0;
}

.address {
  font-style: normal;
}

@media screen and (main-width: 767px) {
  .address:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-style: normal;
  }
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.address__letter {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .address__letter {
    margin-top: 20px;
  }
}

.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: #2196f3;
}

.accession {
  display: block;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .accession {
    margin-bottom: 0;
    margin-left: 93px;
  }
}

.accession__text {
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 700;
}

.socials__icon {
  fill: #ffffff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__input {
  width: 100%px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  outline: none;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription__input:focus {
  background-color: #2f303a;
}

@media screen and (min-width: 480px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 28px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button:hover, .subscription__button:focus {
  background: #188ce8;
}

@media screen and (max-width: 767px) {
  .subscription__button {
    margin: 0 auto;
  }
}

.subscription__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 100%;
  top: 25%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 0;
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal__button--close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal__icon--close {
  width: 18px;
  height: 18px;
  top: 50%;
  fill: #000000;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon--close:hover, .modal__icon--close:focus,
.modal__button--close:focus .modal__icon--close {
  fill: #2196f3;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-field__icon {
  fill: #2196f3;
}

.form-field:hover .form-field__icon {
  fill: #2196f3;
}

.form-field.comment {
  margin-bottom: 0;
}

.form-field__text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input {
  display: block;
  outline: none;
  padding: 14px 15px 14px 43px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 50px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-field__input {
  border-color: #2196f3;
}

.form-field__text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within > .form-field__text {
  border-color: #2196f3;
}

.form-field__input[type='text'],
.form-field__input[type='tel'],
.form-field__input[type='email'] {
  padding-left: 42px;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .agreement {
    width: auto;
  }
}

.agreement__checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.agreement__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
}

.agreement__checkbox:checked + .agreement__icon {
  background-image: url("../images/Vector-on.svg");
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__link {
  color: #2196f3;
}

.agreement__button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-color: inherit;
  border: transparent;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__button:hover, .agreement__button:focus {
  background: #188ce8;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*justify-content: center;
  margin-bottom: 50px;*/
}

@media screen and (max-width: 768px) {
  .filter {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 0px;
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.filter__button {
  color: #212121;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: block;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.product-card {
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover, .product-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__thumb {
  position: relative;
  display: block;
  /*width: 370px;*/
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover .product-card__overlay,
.product-card__overlay .product-card:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product-card__description {
  color: #ffffff;
  padding: 49px 24px;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

@media screen and (min-width: 480px) {
  .product-card__description {
    font-size: 22px;
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .product-card__description {
    font-size: 18px;
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .product-card__description {
    padding: 63px 24px;
  }
}

.product-card__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin: 0;
}

.product-card__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.product-card__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  margin-bottom: 0;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
}

/*.menu-toggle:hover .icon-cross,
.menu-toggle:focus .icon-cross {
  fill: $accent-color;
}*/
/*.menu-toggle:hover .icon-menu,
.menu-toggle:focus .icon-menu {
  fill: $accent-color;
}*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .site-nav__link,
.menu .contacts-list__link {
  text-decoration: none;
  color: inherit;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 40px;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  color: #212121;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  line-height: 1.18;
  letter-spacing: 0.02em;
  overflow-y: scroll;
  z-index: 100;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.menu-container .menu-toggle {
  color: #212121;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  display: block;
  list-style: none;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */