.accession {
  display: inline-block;
  margin-left: 70px;
}
.accession__text {
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
}
.socials__icon {
  fill: $white-text-color;
}

.socials {
  display: flex;
  justify-content: space-between;
}
.socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}
.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
