.hero__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin-top: 30px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  background: $accent-color;
  color: $white-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $second-button-color;
  }
}
