.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field__label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field:focus-within > & {
    fill: $accent-color;
  }
}
.form-field.comment {
  margin-bottom: 0;
}
.form-field__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input {
  display: block;
  outline: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field:focus-within > & {
    border-color: $accent-color;
  }
}
.form-field__text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .form-field:focus-within > & {
    border-color: $accent-color;
  }
}
.form-field__input[type='text'],
.form-field__input[type='tel'],
.form-field__input[type='email'] {
  padding-left: 42px;
}

.agreement {
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}
.agreement__checkbox {
  position: absolute;
  appearance: none;
}
.agreement__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid $title-text-color;

  .agreement__checkbox:checked + & {
    background-image: url('../images/Vector-on.svg');
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.agreement__link {
  color: $accent-color;
}

.agreement__button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-color: inherit;
  border: transparent;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  background: $accent-color;
  color: $white-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $second-button-color;
  }
}
