.section--background {
  background: #f5f4fa;
}

.team {
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;

  & + & {
    margin-left: 30px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  color: $title-text-color;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
}
.socialnets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 30px;
}
.socialnets__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.socialnets__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $white-text-color;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.socialnets__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .socialnets__link:hover &,
  .socialnets__link:focus & {
    fill: $white-text-color;
  }
}
